<html>
    <head>
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>
        <h1>{{name}}'s favorite TV shows are: {{favoriteTVshows[0]}}, {{favoriteTVshows[1]}}, {{favoriteTVshows[2]}}</h1>
        <ol>
            {% for i in range(0, length) %}
            {% if i==0 %}
            <li style="color: green">{{favoriteTVshows[0]}}<img src = {{images[i]}} width = 100 height = 100 align = "right" alt = {{favoriteTVshows[0]}}></li><br>
            {% endif %}
            {% if i>0 %}
            <li>{{favoriteTVshows[i]}}<img src = {{images[i]}} width = 100 height = 100 align = "right" alt = {{favoriteTVshows[i]}}></li><br>
            {% endif %}
            {% endfor %}
        </ol>    
    </body>
</html>